{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- CONTENT -->
	<div class="aola_tm_content">
		<div class="container">
			<div class="aola_tm_home_title_wrap index">
				<div class="inner">
					<h3>
						<span class="animate">
							<span><span class="color">Мы BookMania</span> расширяем <br /></span>
						</span>
						<span class="animate">
							<span>кругозор вместе с нами! </span>
						</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="aola_tm_section">
			<div class="container">
				<div class="aola_tm_portfolio_wrap">
					<ul class="aola_tm_portfolio_filter">
						<li><a href="#" class="current" data-filter="*">Все</a></li>
						<li><a href="#" data-filter=".design">Книги</a></li>
						<li><a href="#" data-filter=".photography">Интересное</a></li>
						<li><a href="#" data-filter=".development">Развитие</a></li>
					</ul>
					<ul class="aola_tm_portfolio_list gallery_zoom">
						<li class="design">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/14.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Север и Юг</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
						<li class="photography">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/9.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Книга это сила!</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
						<li class="development">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/10.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Писательские советы!</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
						<li class="photography">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/11.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Макс Фрай</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
						<li class="design">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/12.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Марсианин</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
						<li class="photography">
							<div class="list_inner">
								<div class="image_wrap">
									<img src="{% static 'img/portfolio/1000x1000.jpg'%}" alt="" />
									<div class="image_inner" data-img-url="{% static 'img/portfolio/13.jpg'%}"></div>
								</div>
								<div class="image_overlay"></div>
								<div class="image_definition">
									<div class="title">
										<a href="#">Литературный марафон</a>
									</div>
								</div>
								<div class="link">
									<a href="portfolio-single.html"></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="aola_tm_section">
			<div class="container">
				<div class="aola_tm_short_contact_wrap">
					<div class="inner">
						<div class="title wow fadeIn" data-wow-duration="0.8s">
							<h3>Читайте книги вместе с нами и расширяйте кругозор!</h3>
						</div>
						<div class="aola_tm_button wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
							<a href="contact.html">Написать сообщение</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}