 <!-- CONTENT -->
	<div class="aola_tm_content">
		<div class="container">
			<div class="aola_tm_home_title_wrap portfolio">
				<div class="inner">
					<h3>
						<span class="animate">
							<span>Meet Our<br /></span>
						</span>
						<span class="animate">
							<span>Awesome Works</span>
						</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="aola_tm_portfolio_home_wrap masonry">
			<div class="item masonry_item wow slideInUp" data-wow-duration="0.8s">
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/9.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">Ind Hed</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item masonry_item tall wow slideInUp" data-wow-duration="0.8s">
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/10.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">Paper Bag</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item masonry_item wow slideInUp" data-wow-duration="0.8s" >
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/11.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">Vinvl Cassette</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item m_tall masonry_item wow slideInUp" data-wow-duration="0.8s" >
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/12.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">Memphis Design</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item m_simple masonry_item tall wow slideInUp" data-wow-duration="0.8s" >
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/13.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">White Bag</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item m_simple masonry_item wide wow slideInUp" data-wow-duration="0.8s">
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/8.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">The Nordic</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
			<div class="item m_wide masonry_item wow slideInUp" data-wow-duration="0.8s" >
				<div class="inner">
					<div class="image" data-img-url="img/portfolio/14.jpg"></div>
					<div class="image_overlay"></div>
					<div class="image_definition">
						<div class="title">
							<a href="#">AOC Productions</a>
						</div>
					</div>
					<div class="link">
						<a href="portfolio-single.html"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="aola_tm_section">
			<div class="container">
				<div class="aola_tm_footer_wrap">
					<div class="sharebox">
						<label class="wow fadeIn" data-wow-duration="1.2s">Follow Us</label>
						<div class="share_wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
							<ul>
								<li><a href="#"><i class="xcon-facebook"></i></a></li>
								<li><a href="#"><i class="xcon-twitter"></i></a></li>
								<li><a href="#"><i class="xcon-linkedin"></i></a></li>
								<li><a href="#"><i class="xcon-pinterest"></i></a></li>
								<li><a href="#"><i class="xcon-gplus"></i></a></li>
								<li><a href="#"><i class="xcon-instagram"></i></a></li>
								<li><a href="#"><i class="xcon-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						<label class="wow fadeIn" data-wow-duration="1.2s">Copyright</label>
						<p class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">&copy; 2018. All rights are reserved.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- /CONTENT -->